@import "./components/header.scss";

.red {
  position: absolute;
  top: 10vh;
  right: 0;
  z-index: -1;
  width: 55vw;
  height: 100vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  section.left {
    flex: 3 1 300px;
    padding: 2rem;
    h1 {
      font-size: 2rem;
      padding: 1rem;
      color: red;
    }
    p {
      font-size: 1.5rem;
      padding: 1rem;
    }
  }
  section.right {
    flex: 1 1 400px;
    position: relative;
    div.container {
      img {
        border-radius: 50%;
        width: 25vw;
        height: 25vw;
        position: absolute;
        top: 20vh;
        right: 35vh;
      }
      img:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 700px) {
  main {
    section.left {
      h1 {
        font-size: 2rem;
        padding: 1rem;
        color: black;
      }
    }
    section.right {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      div.container {
        img {
          position: static;
          transform: none;
          width: 40vw;
          height: 40vw;
        }
        img:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@import "./components/footer.scss";
