@import "./components/header.scss";

main {
  section.backImage {
    min-height: 90vh;
    width: 100%;
    background-image: url("../Pictures/home_background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h3 {
      font-size: 2.5rem;
      color: white;
      margin: 2rem 0rem;
    }

    div.filter {
      background-color: rgba(0, 0, 0, 0.2);
      width: 100%;
      min-height: 90vh;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  section.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 2rem;
      margin: 2rem 0rem;
    }

    section.cards {
      display: flex;
      width: 80%;
      min-height: 80vh;
      flex-wrap: wrap;

      div.card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        flex: 1 1 100px;
        div.image-container {
          overflow: hidden;
          width: 15vw;
          height: 15vw;
          border-radius: 50%;
          img {
            width: 15vw;
            height: 15vw;
            border-radius: 50%;
          }
          img:hover {
            transform: scale(1.2);
          }
        }
        h4 {
          font-size: 2rem;
          margin: 1rem 0rem;
        }
        p {
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  main {
    section.second {
      section.cards {
        div.card {
          div.image-container {
            overflow: hidden;
            width: 40vw;
            height: 40vw;
            border-radius: 50%;
            img {
              width: 40vw;
              height: 40vw;
              border-radius: 50%;
            }
            img:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

@import "./components/footer.scss";
