@import "./components/header.scss";

main {
  min-height: 90vh;
  width: 100%;
  background-image: url("../Pictures/course/background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;

  div.filter {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    min-height: 90vh;
    position: relative;
    top: 0;
    z-index: -1;
    section.table {
      flex: 3 1 300px;
      padding: 1rem;
      table {
        border-collapse: collapse;
        tr {
          border-bottom: 2px solid black;
          transition: 0.2s ease;
          td {
            padding: 0.5rem;
          }
          &:hover {
            background-color: gray;
          }
        }
      }
    }

    section.picture {
      div.image-container {
        flex: 1 1 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 30%;
          width: 70vh;
          padding: 2rem;
        }
        img:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  main {
    section.picture {
      display: flex;
      align-items: center;
      justify-content: center;
      div.image-container {
        overflow: hidden;
        width: 50vh;
        height: 50vh;
        border-radius: 50%;
        img {
          width: 50vh;
          height: 50vh;
          border-radius: 50%;
        }
        img:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@import "./components/footer.scss";
