* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Hahmlet", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #cfcfcf;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  -webkit-box-shadow: 3px 3px 5px 1px #6b6b6b;
          box-shadow: 3px 3px 5px 1px #6b6b6b;
}

header div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 200px;
          flex: 5 1 200px;
  margin-left: 2rem;
}

header div.logo img {
  width: 6vw;
  height: 6vw;
}

header nav {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 200px;
          flex: 2 1 200px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 1.35rem;
  padding: 1rem;
}

header nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.active {
  color: black;
}

@media screen and (max-width: 550px) {
  header div.logo {
    margin-left: 0.5rem;
  }
  header div.logo img {
    width: 15vw;
    height: 15vw;
  }
}

main section.backImage {
  min-height: 90vh;
  width: 100%;
  background-image: url("../Pictures/home_background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

main section.backImage h3 {
  font-size: 2.5rem;
  color: white;
  margin: 2rem 0rem;
}

main section.backImage div.filter {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 90vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

main section.second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

main section.second h2 {
  font-size: 2rem;
  margin: 2rem 0rem;
}

main section.second section.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-height: 80vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.second section.cards div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
}

main section.second section.cards div.card div.image-container {
  overflow: hidden;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

main section.second section.cards div.card div.image-container img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

main section.second section.cards div.card div.image-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main section.second section.cards div.card h4 {
  font-size: 2rem;
  margin: 1rem 0rem;
}

main section.second section.cards div.card p {
  font-size: 1.25rem;
}

@media screen and (max-width: 700px) {
  main section.second section.cards div.card div.image-container {
    overflow: hidden;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
  }
  main section.second section.cards div.card div.image-container img {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
  }
  main section.second section.cards div.card div.image-container img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

footer {
  padding: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #cfcfcf;
}

footer div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.logo img {
  width: 6vw;
  height: 6vw;
}

footer nav {
  width: 50%;
}

footer nav ul {
  color: black;
  text-align: center;
}

footer section.links a {
  margin: 0rem 1rem;
}

footer section.links a img {
  width: 5vw;
  height: 5vw;
}

footer section.links a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 550px) {
  footer {
    padding: 0.25rem;
  }
  footer div.logo img {
    width: 15vw;
    height: 15vw;
  }
  footer section.links {
    margin-top: 1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer section.links a img {
    width: 20vw;
    height: 20vw;
  }
  footer section.links a img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=index.css.map */